/* Animations */

@keyframes slideDown {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}

/* Hide Class */

.hidden {
    display: none;
}

/* Universal Styles */

body {
   font-family: "Google Sans Code", monospace;
   color: #332B2A;
   background-image: url(./media/images/search-file-background.png);
   background-position: center;
   background-size: auto;
}

main,
#search-bar {
    display: flex;
    align-items: center;
}

main {
    margin: 0;
    min-height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Titles Styling */

.titles {
    text-align: center;
}

.titles h1 {
    color:#436360;
}

/* Search Bar Styles */

#search-bar {
    width: 80vw;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}

#address-input
 {
    flex: 1;
    padding: .5rem;
    box-shadow: 2px 1px 5px;
     border-radius: 15px;
}

#address-input:focus {
    outline: none;
    box-shadow: 0 0 5px #E33F27;
}

.search-btn,
.clear-btn,
#address-input {
    font-size:clamp(1rem, 5vw, 1.5rem);
    border: none;
}

.search-btn {
    background-color:#E33F27;
    padding: .6rem .7rem;
    box-shadow: 2px 1px 5px;
    border-radius: 100%;
}

.clear-btn {
    background-color: white;
    padding: 0;
    margin: 0;
    color: darkgray;
    position: absolute;
    right: 0;
    margin-right: .5rem;
}

.clear-btn:active {
    color: black;
}

.clear-btn:hover {
    color: black;
}

/* Suggestions Style */

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

#suggestions {
    width: 80%;
    margin: .25rem;
    padding: 0;
    list-style: none;
    background: whitesmoke;
    color: darkgray;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px;
    align-self: flex-end;
    animation: slideDown .1s ease-in;
    border: lightgray;
}

#suggestions li {
    padding: 1rem;
}

#suggestions li:hover {
    color: #E33F27;
    border: 15px;
    cursor: pointer;
}

#suggestions li:active {
    background-color: white;
    color: darkgray;
}

#suggestions li:not(:last-child) {
    border-bottom: 1px dotted lightgray;
}

/* Display Style */

.info-display{
    background-color: whitesmoke;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 4px;
    width: 80%;
}

/*Error Message*/

.error-msg {
    color: #E33F27;
    margin-left: 1rem;
    width: 100%;
    text-align: left;
    font-size: clamp(.7rem, 1vw, 1rem);
}

/*Responsiviness*/

@media (max-width: 450px) {
    #suggestions {
        width: 100%;
    }
}